#root {
    width: 100%;
}

.ReactCollapse--collapse {
    transition: height 1000ms;
    overflow: hidden !important;
  }

.mt-10 {
    margin-top: 6em !important;
}

.regular-box{
    border-radius: 15px;
    padding: 20px;
    border: #c4c4c4 solid 1px;
    vertical-align: middle;
}